.container {
  border: 2px solid #333;
  border-radius: 5px;
  padding: 10px;
  width: fit-content;
  height: fit-content;
}

.feature_box {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 10px;
  gap: 20px;
}

.box {
  border: 2px solid #969494;
  border-radius: 10px;
}

.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 200px;
  width: 200px;
}
