/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4rem;
  padding: 6rem 4rem;
  border-radius: 1rem;
  position: relative;
  color: #2776ea;
  background: #eff6ff;
}

.heroBannerTextContainer {
  width: 50%;
}

.heroTitle {
  font-size: 2.5rem;
}

.heroBannerText {
  font-size: 1.5rem;
}

.heroImage {
  position: absolute;
  width: 50%;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 1024px) {
  .heroBanner {
    flex-direction: column;
    padding: 1rem;
  }

  .heroBannerTextContainer {
    width: 100%;
  }

  .heroTitle {
    font-size: 2rem;
  }

  .heroBannerText {
    font-size: 1rem;
  }

  .heroImage {
    display: none;
    /* position: relative;
    width: 100%;
    bottom: 0;
    right: 0; */
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
