/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

.heroBanner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 4rem;
  padding: 6rem 4rem;
  border-radius: 1rem;
  position: relative;
  color: #2776ea;
  background: #eff6ff;
}

.heroImage{
  position: absolute;
  width: 50%;
  bottom: 0;
  right: 0;
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}
