.blogMain {
  padding: 2rem;
  display: grid;
  row-gap: 1rem;
  column-gap: 2rem;
  background-color: #300924;
  border-top: 1px solid #222222;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

@media screen and (max-width: 649px) {
  .blogMain {
    padding: 1rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
